.header {
    height : 55px;
}

.html {
    min-width:800px;
}

.table-no {
    background-color: #b3dafa;
}

.black-key {
    background-color: #C0C0C0;
}

.col-scale-range-label {
    min-width: 160px;
}

.col-scale-range {
    min-width: 95px;
}

.col-scale{
    flex: 0 0 auto;
    width: 80px;
}

.col-score{
    flex: 0 0 auto;
    width: auto;
    min-width: 60px;
    max-width: 80%;
}

#score-table {
    overflow-x:scroll;
    width:43px;
}

#scale-table th {
    width: 3em;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding: 3px 10px;
}

#score-table td{
    width: 2em;
    padding: 3px 10px;
    border-bottom: 2px solid;
}

input[type="checkbox"] {
    transform: scale(1.1);
}

/*#add-column-button{
    position:fixed;
    right:25px;
    bottom:25px;
}
*/